[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true

[packages]
django = '*'
gunicorn = '*'
django-heroku = '*'
django-cors-headers = '*'
dj-database-url = '*'
requests = "*"
django-environ = "*"

[requires]
python_version = '3.6.5'
