{% extends 'layout.html' %} {% load staticfiles %} {% block content %}
<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3">
                <a href="{% url 'profile' user.username %}">New Prompt</a>
            </li>
            <li class="tab col s3">
                <a href="{% url 'entries' user.username %}">Entries</a>
            </li>
        </ul>
    </div>
    <!-- <div id="test1" class="col s12">Test 1</div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div> -->
</div>
<div class="switch">
    <label>
        New Prompt
        <input data-username='{{ user.username }}' type="checkbox">
        <span class="lever"></span>
        Entries
    </label>
</div>
<h1> HERE ARE THE Entries</h1>
<!-- https://ineedaprompt.com/dictionary/default/prompt?q=adj+noun+adv+verb+noun+location -->
{% endblock %}