{% extends 'layout.html' %} {% load staticfiles %} {% block content %}
<!-- <h1>JotBox</h1> -->

<div class="row homepage-parent valign-wrapper">
    <div class="col s12 valign-wrapper">
        <div class="col s12 homepage-header">
            <h1>New ideas. Coming to life </h1>          
        </div>
        <div class="background-img">
        <div class="col s12 homepage-image-container">
            <!-- <img class="homepage-img responsive-img" src="" alt="background-img" /> -->
        </div>
    </div>
    </div>
    
</div>


<!-- <p>Lets unclog your bueatiful minds </p> -->
{% endblock %}