{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>JotBox</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald:400,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo ml30">JotBox</a>
                    <ul class="right hide-on-med-and-down">
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'profile' user.username %}">{{ user.username }}</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>





    {% block content %} {% endblock %}

    <footer class="footer">
        <div class="footer-copyright">
            <div class="footer-container">
                <div class="copyright">
                <p>made with &hearts; by Lucas Santini</p>
                <i class="devicon-github-plain colored"></i>
                </div>
                </div>
            </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>