{% extends 'layout.html' %}
{% load staticfiles %}
<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue">
                <a href="/" class="brand-logo ml30">Mob</a>
                <ul class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                        <li><a  href="{% url 'profile' user.username %}">Hello, {{ user.username }}!</a></li>
                        <li><a  href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a  href="{% url 'login' %}">Login</a></li>
                        <li><a  href="{% url 'signup' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>
{% endblock %}
