{% extends 'layout.html' %} {% load staticfiles %} {% block content %}
<div class="row profile-tabs">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6">
                <a class="active" href="#test1">New Prompt</a>
            </li>
            <li class="tab col s6">
                <a href="#test2">Entries</a>
            </li>

        </ul>
    </div>
</div>
<!-- Switch -->
<!-- <div class="switch">
    <label>
        New Prompt
        <input type="checkbox">
        <span class="lever"></span>
        Entries
    </label>
</div>
</div> -->
<!-- NEW PROMPT PAGE -->
<div id="test1">
    <a id='get-prompt' class="waves-effect waves-light btn">button</a>
    <div id="give-prompt">
    </div>
    <hr/>
    <p class=" container flow-text prompt">
        <span id="noun1"></span>
        <span id="verb1"></span>
        <span id="verb2"></span>
        <span id="noun2"></span>
        <span id="location"></span>
    </p>
    <form action="post_entry/" method="POST">
        {% csrf_token %}
        <div class="container row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <textarea name='notes' id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">NOTES</label>
                    </div>
                    <div class="input-field col s6">
                        <textarea name="draft" id="textarea2" class="materialize-textarea"></textarea>
                        <label for="textarea2">DRAFT</label>
                    </div>
                </div>
                <input name="prompt" placeholder="Placeholder" type="text" hidden value='placeholder' id="ajax-prompt">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                </button>
            </form>
        </div>
    </form>
</div>
<!-- ENTRIES PAGE -->
<div id="test2">
    {% for el in entries %}
    <div class="container wrapper">
        <header class="header">
            <p>Prompt: {{ el.prompt }} </p>
            <p>Created: {{ el.pub_date }}</p>
            <a href="/profile/delete/{{ el.id }}">X</a>
        </header>
        <article class="main">
            <h5 class="nice-border">Draft</h5>
            <p class="">{{ el.draft }}</p>
        </article>
        <!--   <aside class="aside aside-1">Aside 1</aside> -->
        <aside class="aside aside-2">
            <h5 class="nice-border">Notes</h5>
            <p class="">{{ el.notes }}</p>
        </aside>
    </div>
    <br/>
    <br>

    {% endfor %}
</div>
{% endblock %}